<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAutk8f1xZNiILxzDzglKIu1YxndaiTonY</string>
	<key>GCM_SENDER_ID</key>
	<string>106712839516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akbarshah.STFirebaseBootcamp</string>
	<key>PROJECT_ID</key>
	<string>stfirebasebootcamp-855ca</string>
	<key>STORAGE_BUCKET</key>
	<string>stfirebasebootcamp-855ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:106712839516:ios:b1da0bb231ffc03f317d99</string>
</dict>
</plist>
